<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension="generated.cs" #>
<#
	string[] classProtections = { "public", "internal" };
	string[] staticMemberProtections = { "public", "private", "internal" };
	string[] memberProtections = { "public", "private", "protected", "internal", "protected internal" };
	string[] styles = {"static", ""};
#>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Xunit;

namespace CodeDocs.Tests.Detection
{
	// Automated Tests
	public class ClassDetectionAutomatedTests
	{

		// Static

<#	foreach(var protection in classProtections) { #>
<#		string className = protection.Replace(" ","") + "StaticDetectionExample"; #>
		[Fact]
		public void Detection_Of_<#=className#>() { typeof(<#=className#>).GetCodeDocs().AssertExpectations(<#=className#>.DetectionCount); }

<# } #>


		// Instance
<#	foreach(var protection in classProtections) { #>
<#		string className = protection.Replace(" ","") + "InstanceDetectionExample"; #>
		[Fact]
		public void Detection_Of_<#=className#>_FromType() { typeof(<#=className#>).GetCodeDocs().AssertExpectations(<#=className#>.DetectionCount); }
		
		[Fact]
		public void Detection_Of_<#=className#>_FromInstance() { (new <#=className#>(1)).GetCodeDocs().AssertExpectations(<#=className#>.DetectionCount); }

<# } #>

	}



	// Static Classes

<#	foreach(var protection in classProtections) { #>
<#		
		int counter = 0;
		string className = protection.Replace(" ","") + "StaticDetectionExample";
		var memberStyle = "static";
#>
    [Bug("<#=(++counter).ToString()#>")]
    <#=protection#> static class <#=className#>
    {
        [Bug("<#=(++counter).ToString()#>")] <#=memberStyle#> <#=className#>() {}
<# foreach(var memberProtection in staticMemberProtections) { #>
		[Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> interface I<#=counter.ToString()#> { };
		[Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> struct lc<#=counter.ToString()#> { };
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> class lc<#=counter.ToString()#> { };
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> static class lc<#=counter.ToString()#> { };
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> enum E<#=counter.ToString()#> { A };
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> <#=memberStyle#> string P<#=counter.ToString()#> { get; set; }
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> <#=memberStyle#> string F<#=counter.ToString()#>;
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> delegate string D<#=counter.ToString()#>();
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> <#=memberStyle#> event D<#=(counter-1).ToString()#> Ev<#=counter.ToString()#>;
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> <#=memberStyle#> void M<#=counter.ToString()#>() { F<#=(counter-3).ToString()#> = Ev<#=(counter-1).ToString()#>();}
<# } #>
		public readonly static int DetectionCount = <#=counter#>;
    }
<#	} #>


	// Instance Classes

<#	foreach(var protection in classProtections) { #>
<#		
		int counter = 0;
		string className = protection.Replace(" ","") + "InstanceDetectionExample";
		int parameterCount = 0;
#>
    [Bug("<#=(++counter).ToString()#>")]
    <#=protection#> class <#=className#> : InheritFrom
    {
<#		foreach(var memberStyle in styles) { #>
		
		#region ***** Style = <#=memberStyle == "static" ? "Static" : "Instance" #>


<# foreach(var memberProtection in memberProtections) { #>
		
		#region Protection = <#=memberProtection#>

<#if (memberStyle!="static") { #>
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> <#=memberStyle#> <#=className#>(<#=GenerateParameters(++parameterCount)#>) {}
<# } #>
		[Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> interface I<#=counter.ToString()#> { };
		[Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> struct lc<#=counter.ToString()#> { };
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> class lc<#=counter.ToString()#> { };
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> static class lc<#=counter.ToString()#> { };
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> enum E<#=counter.ToString()#> { A };
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> <#=memberStyle#> string P<#=counter.ToString()#> { get; set; }
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> <#=memberStyle#> string F<#=counter.ToString()#>;
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> delegate string D<#=counter.ToString()#>();
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> <#=memberStyle#> event D<#=(counter-1).ToString()#> Ev<#=counter.ToString()#>;
        [Bug("<#=(++counter).ToString()#>")] <#=memberProtection#> <#=memberStyle#> void M<#=counter.ToString()#>() { }
		#endregion

<# } #>
		#endregion
<#		} #>

		public readonly static int DetectionCount = <#=counter#>;

    }
<#	} #>

	public abstract class InheritFrom{}

}
<#+
	public string GenerateParameters(int count)
	{
		var sb = new List<string>();

		for(int x=1; x<=count; x++)
			sb.Add("int p" + x);

		return string.Join(", ", sb);
	}
#>